<!DOCTYPE html>
<html>
  <head>
    <title>Ring</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- <h1>Willkommen bei MnemoRing</h1> -->
    <h1><%=training.name%></h1>
    <div class="container">
      <a href="/rec" method="POST" class="button">Meine Trainings</a>
    </div>
  </body>
</html>
