<!DOCTYPE html>
<html>
  <head>
    <title>Ring</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- <h1>Willkommen bei MnemoRing</h1> -->
    <h1>waiting</h1>

  </body>
</html>
