<!DOCTYPE html>
<html>
    <head>
        <title>Case</title>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <h1>Hilfe</h1>
        <div class="container">
            <a href="/" method="POST" class="button">zurück</a>
        </div>
    </body>
</html>