<!DOCTYPE html>
<html>
    <head>
        <title>Case</title>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <h1>Willkommen bei Mnemoring</h1>
        <div class="container">
            <a href="/trainings" method="POST" class="button">Meine Trainings</a>
            <a href="/tutorial" method="POST" class="button">Tutorial</a>
            <a href="/help" method="POST" class="button">Hilfe</a>
        </div>
    </body>
</html>