<!DOCTYPE html>
<html>
    <head>
        <title>Case</title>
        <style>
            .button {
                width: 40vw;
                height: 10vh;
            }
        </style>
    </head>
    <body>
        <h1>Neues Training</h1>
    <form action="/new-training" method="POST"><button class="home-button"style="width: 40vw; height: 22vh">Neues Training</button></form>
    <form action="/try-again" method="POST"><button class="home-button"style="width: 40vw; height: 22vh">Wiederholen</button></form>
    <form action="/tutorial" method="POST"><button class="home-button"style="width: 40vw; height: 22vh">Tutorial</button></form>
    <form action="/help" method="POST"><button class="home-button"style="width: 40vw; height: 22vh">Hilfe</button></form>
    </body>
</html>