<!DOCTYPE html>
<html>
    <head>
        <title>Case</title>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <h1>Meine Trainings</h1>
        <div class="container">
            <a href="/trainings/" method="POST" class="button">zurück</a>
            <form action="/trainings/new/myNewTraining" method="POST">
                <!-- minLength is the minimum number of chars a training can have -->
                <input type="text" minlength="4" name="trainingName" placeholder="Name...">
                <button>Go</button>
            </form>
        </div>
    </body>
</html>
